.leftsidebar{
    border-right: 1px solid var(--extra-light-grey);
    padding-left: 20px;
    padding-top: 20px;
    padding-right: 20px;
    flex: 0.2;
}
.tweet-button{
    background-color : var(--general-blue-color) !important;
    color : white !important;
    border: none !important;
    font-weight: 900 !important;
    border-radius: 30px !important;
    height: 50px !important;
    margin-top: 20px !important;
    text-transform: inherit !important;
}

#twitter-icon{
    color: var(--general-blue-color);
    height: 2.25em;
    width: 2.25em;
    padding-bottom: 20px;
    padding-left: 5px;
    margin-left: 3.5px;
    
}

.css-i4bv87-MuiSvgIcon-root{
    height: 2.5em;
    width: 2.5em;
}