.feed{
    border-right: 1px solid var(--extra-light-grey);
    flex: 0.5;
    min-width: fit-content;
    overflow-y: scroll;
    
    --feed-element-padding: 15px;
}

.feed-top{
    font-size: 20px;
    font-weight: 650;
    padding-top: 10px;
    padding-bottom: 20px;
    position: sticky;
    top:0;
    opacity: 0.8;
    z-index: 1;
    display: flex;
    align-items: center;
    padding-left: var(--feed-element-padding);
    padding-right: var(--feed-element-padding);
}

.feed-top > .top-right-feed-icon{
  margin-left: auto;
  font-size: 20px;
  font-weight: 400;
}

.tweetbox{
    z-index: -1;
    padding-left: var(--feed-element-padding);
    padding-right: var(--feed-element-padding);
}

/* Hide scrollbar for Chrome, Safari and Opera */
.feed::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
.feed {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

  

