body{
    --general-blue-color: #1DA1F2;
    --general-background-color: #e6ecf0;
    --extra-light-grey: #E1E8ED;
    --light-grey: #AAB8C2;
    --extra-extra-light-grey: #F5F8FA;
    --dark-grey: #657786;
    --black: #14171A;
}

.app{
    display: flex;
    height: 100vh;
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
}
